# Анализ датасета IMBD

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime as dt
from collections import Counter
print(os.listdir("Files"))

['IMBD.csv']

In [57]:
data = pd.read_csv('Files/IMBD.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

# Предобработка датасета

In [3]:
answer_ls = [] #create list with answers
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
imdb_id                 1890 non-null object
popularity              1890 non-null float64
budget                  1890 non-null int64
revenue                 1890 non-null int64
original_title          1890 non-null object
cast                    1890 non-null object
director                1890 non-null object
tagline                 1890 non-null object
overview                1890 non-null object
runtime                 1890 non-null int64
genres                  1890 non-null object
production_companies    1890 non-null object
release_date            1890 non-null object
vote_count              1890 non-null int64
vote_average            1890 non-null float64
release_year            1890 non-null int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

In [58]:
#add column profit
data["profit"] = data.revenue - data.budget

#change type of columns cast, genres и production_companies to list
data["genres_list"] = data.genres.str.split("|")
data["cast_list"] = data.cast.str.split("|")
data["production_companies_list"] = data.production_companies.str.split("|")
data["director_list"] = data.director.str.split("|")

data.release_date = pd.to_datetime(data.release_date)
data["release_month"] = data.release_date.dt.month

data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,release_date,vote_count,vote_average,release_year,profit,genres_list,cast_list,production_companies_list,director_list,release_month
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,...,2015-06-09,5562,6.5,2015,1363528810,"[Action, Adventure, Science Fiction, Thriller]","[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...","[Universal Studios, Amblin Entertainment, Lege...",[Colin Trevorrow],6
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,...,2015-05-13,6185,7.1,2015,228436354,"[Action, Adventure, Science Fiction, Thriller]","[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...","[Village Roadshow Pictures, Kennedy Miller Pro...",[George Miller],5
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,...,2015-03-18,2480,6.3,2015,185238201,"[Adventure, Science Fiction, Thriller]","[Shailene Woodley, Theo James, Kate Winslet, A...","[Summit Entertainment, Mandeville Films, Red W...",[Robert Schwentke],3
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,...,2015-12-15,5292,7.5,2015,1868178225,"[Action, Adventure, Science Fiction, Fantasy]","[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...","[Lucasfilm, Truenorth Productions, Bad Robot]",[J.J. Abrams],12
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,...,2015-04-01,2947,7.3,2015,1316249360,"[Action, Crime, Thriller]","[Vin Diesel, Paul Walker, Jason Statham, Miche...","[Universal Pictures, Original Film, Media Righ...",[James Wan],4

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [59]:
result = data[data.budget == data.budget.max()].original_title.values[0]
print(result)
answer_ls.append(4)

The Warrior's Way

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [12]:
result = data[data.runtime == data.runtime.max()].original_title.values[0]
print(result)
answer_ls.append(2)

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [13]:
result = data[data.runtime == data.runtime.min()].original_title.values[0]
print(result)
answer_ls.append(3)

Winnie the Pooh

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [14]:
result = round(data.runtime.mean(), 0)
print(result)
answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
result = round(data.runtime.median(), 0)
print(result)
answer_ls.append(1)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
result = data[data.profit == data.profit.max()].original_title.values[0]
print(result)
answer_ls.append(5)

Avatar

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [14]:
result = data[data.profit == data.profit.min()].original_title.values[0]
print(result)
answer_ls.append(2)

The Warrior's Way

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [17]:
result = data[data.profit > 0].original_title.count()
print(result)
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [18]:
result = data[data.profit == data[data.release_year == 2008].profit.max()].original_title.values[0]
print(result)
answer_ls.append(4)

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [19]:
result = data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()].original_title.values[0]
print(result)
answer_ls.append(5)

The Lone Ranger

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [60]:
result = Counter(data.genres_list.sum()).most_common(1)
print(result)
answer_ls.append(3)

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [61]:
result = Counter(data[data.profit>0].genres_list.sum()).most_common(1)
print(result)
answer_ls.append(1)

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [62]:
result = Counter(data.director_list.sum()).most_common(1)
print(result)
answer_ls.append(3)

[('Steven Soderbergh', 13)]

In [63]:
pd.DataFrame(data.director_list.tolist()).stack().value_counts().head(10)

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Robert Rodriguez     11
Shawn Levy           10
Peter Farrelly       10
Steven Spielberg     10
Bobby Farrelly        9
Tim Burton            9
Todd Phillips         8
dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [64]:
result = Counter(data[data.profit > 0].director_list.sum()).most_common(1)
print(result)
answer_ls.append(4)

[('Ridley Scott', 12)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [65]:
data_copy = data.copy()
result = data_copy.explode("director_list").groupby('director_list')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(5)

Peter Jackson

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [66]:
data_copy = data.copy()
result = data_copy.explode("cast_list").groupby('cast_list')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(1)

Emma Watson

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [67]:
data_copy = data[data.release_year == 2012].copy()
result = data_copy.explode("cast_list").groupby('cast_list')['profit'].sum().sort_values(ascending=True).index[0]
print(result)
answer_ls.append(3)

Kirsten Dunst

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [68]:
result = Counter(data[data.budget > data.budget.mean()].cast_list.sum()).most_common(1)
print(result)
answer_ls.append(3)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [70]:
result = Counter(data[data.cast.str.contains("Nicolas Cage")].genres_list.sum()).most_common(1)
print(result)
answer_ls.append(2)

[('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [71]:
result = Counter(data.production_companies_list.sum()).most_common(1)
print(result)
answer_ls.append(1)

[('Universal Pictures', 173)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [72]:
result = Counter(data[data.release_year == 2015].production_companies_list.sum()).most_common(1)
print(result)
answer_ls.append(4)

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [73]:
data_copy = data[data.genres.str.contains("Comedy")].copy()
result = data_copy.explode("production_companies_list").groupby('production_companies_list')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(2)

Universal Pictures

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [74]:
data_copy = data[data.release_year == 2012].copy()
result = data_copy.explode("production_companies_list").groupby('production_companies_list')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(3)

Columbia Pictures

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [76]:
data_copy = data[data.production_companies.str.contains("Paramount Pictures")]
result = data_copy[data_copy.profit == data_copy.profit.min()].original_title.values[0]
print(result)
answer_ls.append(1)

K-19: The Widowmaker

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [77]:
result = data.groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(5)

2015

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [78]:
result = data[data.production_companies.str.contains("Warner Bros")].groupby('release_year')['profit'].sum().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(1)

2014

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [79]:
result = data.release_month.value_counts().index[0]
print(result)
answer_ls.append(4)

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [80]:
result = data[(data.release_month > 5) & (data.release_month < 9)].original_title.count()
print(result)
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [85]:
result = Counter(data[(data.release_month > 11) | (data.release_month < 3)].director_list.sum()).most_common(1)
print(result)
answer_ls.append(5)

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [37]:
df_profit = data.groupby(["release_year", "release_month"], as_index = False)["profit"].sum()
df_max_profit = df_profit.groupby(["release_year"], as_index = False)["profit"].max()
result = df_profit.merge(df_max_profit, how = "inner", on = ["release_year", "profit"]).release_month.value_counts().index[0]
print(result)
answer_ls.append(2)

6

In [84]:
piv = data.pivot_table(values='profit', index=['release_year'], columns=['release_month'], aggfunc = 'sum')
result = piv.idxmax(axis = 1).value_counts()
print(result)
answer_ls.append(2)

6     7
12    4
5     4
7     1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [86]:
data_copy = data.copy()
data_copy["title_len_sym"] = data_copy.original_title.apply(len)
result = data_copy.explode("production_companies_list").groupby('production_companies_list')['title_len_sym'].mean().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(5)

Four By Two Productions

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [87]:
data_copy = data.copy()
data_copy["title_len_word"] = data_copy.original_title.apply(lambda x:len(x.split(" ")))
result = data_copy.explode("production_companies_list").groupby('production_companies_list')['title_len_word'].mean().sort_values(ascending=False).index[0]
print(result)
answer_ls.append(5)

Four By Two Productions

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [89]:
result = len(set(data.original_title.str.lower().str.replace('&', '').str.split(" ").sum()))
print(result)
answer_ls.append(1)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [41]:
result = data[data.vote_average>data.vote_average.quantile(q = 0.99)].original_title

#альтернативный вариант
#count = int(round(data.original_title.count()/100))
#result = data.sort_values("vote_average", ascending=False).head(count).original_title

print(result)
answer_ls.append(1)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [93]:
from itertools import combinations

data["pairs"] = data.cast_list.apply(lambda r: list(combinations(r, 2)))
result = Counter(data.pairs.sum()).most_common(5)
print(result)

[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Emma Watson'), 7), (('Ben Stiller', 'Owen Wilson'), 6), (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [97]:
df_films = data.copy().explode("director_list")
df_profit_films = df_films[df_films.profit>0].groupby("director_list", as_index = False).imdb_id.count()
df_films = df_films.groupby("director_list", as_index = False).imdb_id.count()

df_best_directors = df_profit_films.merge(df_films, how = "inner", on = "director_list", suffixes=('_profit', '_all'))
df_best_directors["profit_films_percent"] = df_best_directors.imdb_id_profit/df_best_directors.imdb_id_all*100
df_best_directors = df_best_directors[df_best_directors.profit_films_percent == df_best_directors.profit_films_percent.max()].sort_values("imdb_id_all", ascending=False)

display(df_best_directors.head(20))
answer_ls.append(4)

         director_list  imdb_id_profit  imdb_id_all  profit_films_percent
632       Ridley Scott              12           12                 100.0
740   Steven Spielberg              10           10                 100.0
762         Tim Burton               9            9                 100.0
42       Antoine Fuqua               8            8                 100.0
82        Brett Ratner               8            8                 100.0
127  Christopher Nolan               8            8                 100.0
590      Peter Jackson               8            8                 100.0
507        Michael Bay               8            8                 100.0
466    Louis Leterrier               6            6                 100.0
162      David Fincher               6            6                 100.0
225   Francis Lawrence               6            6                 100.0
352          Joel Coen               6            6                 100.0
1           Adam McKay               6            6                 100.0
29        Andy Fickman               6            6                 100.0
612       Raja Gosnell               6            6                 100.0
650    Robert Zemeckis               6            6                 100.0
675          Sam Raimi               6            6                 100.0
765          Tim Story               6            6                 100.0
594        Peter Segal               6            6                 100.0
813        Zack Snyder               6            6                 100.0

# Submission

In [44]:
len(answer_ls)

36

In [45]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       1
33  34       1
34  35       5
35  36       4